<!DOCTYPE html>
<html ng-app="whiskers-shop" lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"
            integrity="sha512-/uxeq6VcJ+do+PtGgWZwRL/Z63r53cK6yek3NzvQwce6aCeheKRD59IuRsEFuNU8b0B/lZ6fUx1fncf0wMIm5Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Whiskers</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#!/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#!/store">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#!/cart">Корзина</a>
                    </li>
                </ul>
                <div class="d-flex me-3" title="Мои заказы" ng-show="ifUserLoggedIn()">
                    <div class="d-flex" style="padding: 4px">
                        <button id="getOrders" class="btn btn-outline-info btn-sm"
                                style="padding: 4px" ng-click="getOrderList()">
                            <i class="bi bi-box-seam"></i>
                        </button>
                    </div>
                </div>
                <form class="d-flex" ng-submit="tryToAuth()" ng-show="!ifUserLoggedIn()">
                    <input id="navLoginField" autocomplete="username" class="form-control me-2" type="text"
                           aria-describedby="inputGroup-sizing-sm" placeholder="username"
                           style="padding: 4px" ng-model="user.username">
                    <input id="navPasswordField" autocomplete="current-password" class="form-control me-2"
                           type="password" aria-describedby="inputGroup-sizing-sm" placeholder="password"
                           style="padding: 4px" ng-model="user.password">
                    <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                            style="padding: 4px" type="submit">Войти
                    </button>
                </form>
                <div class="d-flex" ng-show="ifUserLoggedIn()" style="padding: 4px">
                    <button id="navLogout" class="btn btn-outline-warning btn-sm"
                            style="padding: 4px" ng-click="tryToLogout()">Выйти
                    </button>
                </div>

            </div>
        </div>
    </nav>
    <div class="text-center mt-5">
        <h1>"Whiskers" - интернет магазин товаров для животных</h1>
    </div>
    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="store/store.js"></script>
    <script src="cart/cart.js"></script>
    <script src="welcome/welcome.js"></script>

</div>
</body>
</html>